
.container {
    max-width: 1300px;
    padding: 20px;
    margin: auto;
}

#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    padding: 0 60px;
    h1 {
        color: $text-fg-color;
        font-size: 64px;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    h2 {
        margin: 0;
        color:#901C1C
    }
    // margin: 0 100px;
    & img {
        @include rounded-image
    }
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    & header {
        justify-content: space-between;
        width: 100%;
        & img {
            cursor: pointer;
        }
        & h2 {
            font-size: 64px;
            font-weight: normal;
            text-align: center;
        }
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    & label {
        color: #312E2E;
        font-size: 36px;
    }
    & div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }
    & input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
    }
}

.photograph-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:30px;
    .photograph-image {
        flex-direction: row;
        & .image-card {
            & .media {
                width: 350px;
                height: 300px;
                object-fit: cover;
                border-radius: 5px;
            }
        }
        &:last-child {
            width: 350px;
        }
    }
    .card-image-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 24px;
        color: $list-bg-color;
        p {
            margin: 10px 0;
            font-weight: 400;
            max-width: 290px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis ;
        }
        span {
            margin: 10px 0;
            font-weight: 500;
            &::after {
                content: url('/assets/icons/heart.svg');
                margin-left: 0.5rem;
            }
        }
    }
}

main select, main select option::before {
    padding: 1em 3em;
    margin: 2em 0   ;
    background-color: $list-bg-color;
    color: white;
    font-weight: 700;
    font-size: 18px;
    content:'';
    border-bottom: 1px white solid;
}

.photograph-sort {
    display: flex;
    align-items: center;
    gap: 40px;
    p {
        font-weight: 900;
        padding: 20px 0;
    }
}