.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    padding: 0 60px;
    h1 {
        color: $text-fg-color;
        font-size: 64px;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    h2 {
        margin: 0;
        color:#901C1C
    }
    & img {
        @include rounded-image
    }
}

// Class utilisée pour styler la gallerie d'un photographe
.photograph-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:30px;
    .photograph-image {
        flex-direction: row;
        & .image-card {
            & .media {
                width: 350px;
                height: 300px;
                object-fit: cover;
                border-radius: 5px;
            }
        }
        &:last-child {
            width: 350px;
        }
    }
    .card-image-header {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        font-size: 24px;
        color: $list-bg-color;
        h3 {
            margin: 5px 0;
            font-weight: 400;
            max-width: 290px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis ;
        }
        span {
            margin: 10px 0;
            font-weight: 500;
        }
    }
}

main select, main select option::before {
    padding: 1em 3em;
    margin: 2em 0   ;
    background-color: $list-bg-color;
    color: white;
    font-weight: 700;
    font-size: 18px;
    content:'';
    border-bottom: 1px white solid;
}

.photograph-sort {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 2em 0;
    label {
        font-weight: 900;
        padding: 20px 0;
    }
}

#summary {
    position: sticky;
    float: right;
    bottom: 0;
    right: 50px;
    width: 300px;
    margin-right: 30px;
    font-size: 24px;
    font-weight: 500;
    background-color: $list-bg-hov-color;
    color: black;
    border-radius: 5px 5px 0 0;
}

.photograph-summary {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    img {
        width: 0.9em;
    }
}