.button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: $border-radius;
    cursor: pointer;
}

#contact-modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.modal {
    border-radius: $border-radius;
    background-color: #DB8876;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5em auto auto auto;
    & header {
        justify-content: space-between;
        width: 100%;
        & img {
            cursor: pointer;
        }
        & h2 {
            font-size: 64px;
            font-weight: normal;
            text-align: center;
        }
    }
}

.close-item {
    cursor: pointer;
}
